details,
main {
  display: block;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 16px;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
#app,
#root,
body,
html {
  height: 100%;
  margin: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  background: #fff;
  color: #26221e;
  font-weight: 500;
}
strong {
  font-weight: 700;
}
body {
  box-sizing: border-box;
  cursor: default;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 500;
}
*,
:after,
:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
a:link,
a:visited {
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
}
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
a {
  background-color: transparent;
  color: #0065b1;
  font-size: inherit;
  font-weight: 600;
  font-family: Montserrat, Arial, sans-serif;
  -webkit-text-decoration: none;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #00518f;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul > li {
  padding-left: 1em;
  text-indent: -0.7em;
}
ul > li:before {
  list-style: none;
  content: "■ ";
  color: #0065b1;
}
h1 {
  margin: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: mBank, Arial, sans-serif;
  -webkit-letter-spacing: -1px;
  -moz-letter-spacing: -1px;
  -ms-letter-spacing: -1px;
  letter-spacing: -1px;
  line-height: 3rem;
  font-weight: 600;
  font-size: 2.5rem;
}
h2 {
  margin: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: mBank, Arial, sans-serif;
  -webkit-letter-spacing: -0.5px;
  -moz-letter-spacing: -0.5px;
  -ms-letter-spacing: -0.5px;
  letter-spacing: -0.5px;
  line-height: 1.75rem;
  font-weight: 600;
  font-size: 1.5rem;
}
@media screen and (max-width: 1023px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
}
h3 {
  margin: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: mBank, Arial, sans-serif;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: mBank, Arial, sans-serif;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
  line-height: 1.5rem;
  font-weight: 700;
  font-size: 1rem;
}
button {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: mBank, Arial, sans-serif;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
}
@media screen and (max-width: 1023px) {
  h3,
  h4,
  h5 {
    font-size: 1rem;
  }
  button {
    font-size: 1.5rem;
  }
}
h5 {
  margin: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
  font-size: 1rem;
}
span {
  margin: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: Montserrat, Arial, sans-serif;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 1rem;
}
@media screen and (max-width: 1023px) {
  span {
    font-size: 1rem;
  }
  small {
    font-size: 0.75rem;
  }
}
small {
  margin: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
  line-height: 1rem;
  font-weight: 600;
  font-size: 0.75rem;
}
i {
  font-style: normal;
  margin: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
  line-height: 1rem;
  font-weight: 600;
  font-size: 0.625rem;
}
@media screen and (max-width: 1023px) {
  i {
    font-size: 0.625rem;
  }
}
:root {
  --color-solid-black: #000000;
  --color-solid-white: #ffffff;
  --color-zeus-black-ui: #26221e;
  --color-fun-green: #008520;
  --color-fun-green-ui: #00801f;
  --color-fun-green-ui-hover: #006619;
  --color-flush-orange: #ff8600;
  --color-alto-gray: #d8d8d8;
  --color-mid-gray-ui: #565a69;
  --color-mid-gray-ui-hover: #434651;
  --color-opal-gray: #a4bdc4;
  --color-wild-sand-gray: #f6f6f6;
  --color-simple-red: #e90a0a;
  --color-bright-red-ui: #ae0000;
  --color-bright-red-ui-hover: #850000;
  --color-confetti-yellow: #efd063;
  --color-thunderbird-red-ui: #d21313;
  --color-dove-gray-ui: #6e6e6e;
  --color-dove-gray-ui-hover: #545454;
  --color-chathams-blue: #184868;
  --color-cerulean-blue: #0095de;
  --color-daintree-blue: #001b29;
  --color-deep-cerulean-blue-ui: #0074ad;
  --color-deep-cerulean-blue-ui-hover: #00527a;
  --color-tarawera-blue: #0c4369;
  --color-pistachio-green: #89bf00;
  --color-camarone-green-ui: #006618;
  --color-endeavour-blue-ui: #0065b1;
  --color-endeavour-blue-ui-hover: #00518f;
  --color-monza-red: #e90a0a;
  --color-selective-yellow: #f9b000;
  --color-flirt-pink-ui: #99037b;
  --color-flirt-pink-ui-hover: #0014c2;
  --color-clementine-orange: #eb6702;
  --color-simple-green: #16cf01;
  --color-shocking-pink: #ff0db3;
  --color-simple-blue-ui: #001afd;
  --color-simple-blue-ui-hover: #0014c2;
  --color-hollywood-cerise-ui: #d60093;
  --color-hollywood-cerise-ui-hover: #ad0077;
  --color-milano-red-ui-30: #da1600;
  --color-milano-red-ui-hover-30: #b81c0a;
  --color-milano-red-ui-active-30: #972114;
  --color-lochmara-blue-ui-30: #0088ca;
  --color-lochmara-blue-ui-hover-30: #0078bc;
  --color-lochmara-blue-ui-active-30: #046eb1;
  --color-zeus-black-ui-30: #201c17;
  --color-japanese-laurel-green-ui-30: #008600;
  --color-yellow-green-30: #b8e986;
  --color-dusty-gray-30: #959595;
  --color-abbey-gray-ui-30: #525455;
  --color-alabaster-gray-30: #fafafa;
  --color-concrete-gray-30: #f3f3f3;
  --color-mercury-gray-30: #e4e4e4;
  --color-red-30: #da1600;
  --color-green-30: #008600;
  --color-blue-30: #046eb1;
  --color-yellow-30: #efd063;
  --color-orange-30: #f39100;
  --color-black-30: #201c17;
  --color-white-30: #fff;
  --color-mid-red-30: #b81c0a;
  --color-dark-red-30: #972114;
  --color-light-gray-30: #fafafa;
  --color-mid-gray-30: #959595;
  --color-dark-gray-30: #525455;
  --color-darkest-gray-30: #525447;
  --color-brownish-gray-30: #787878;
  --color-platinum-30: #e4e4e4;
  --color-light-platinum-30: #d8d8d8;
  --color-silver-30: #f3f3f3;
  --color-light-green-30: #b8e986;
  --color-strong-blue-30: #0077bd;
  --color-blue-highlight-30: #0078d7;
  --color-logo-orange-30: #f39100;
  --color-logo-dark-red-30: #cc0b18;
  --color-logo-blue-30: #0077bd;
  --color-logo-green-30: #18a035;
  --color-alternative-orange-30: #d17d00;
  --z-index-negative-one: -1;
  --z-index-default: 0;
  --z-index-one: 1;
  --z-index-two: 2;
  --z-index-mega-menu: 100;
  --z-index-stripe: 200;
  --z-index-header-logo: 200;
  --z-index-product-list: 300;
  --z-index-date-picker: 500;
  --z-index-toast: 600;
  --z-index-menu-more: 600;
  --z-index-modal-overlay: 900;
  --z-index-modal-contents: 1000;
  --z-index-loader: 1200;
  --z-index-top: 1500;
  --shadow-main30: 0 1px 16px 0 rgba(0, 0, 0, 0.22),
    0 0 1px 0 rgba(0, 0, 0, 0.32);
  --shadow-light30: 0px 1px 2px rgba(0, 0, 0, 0.22),
    0px 0px 1px rgba(0, 0, 0, 0.32);
  --breakpoint-mobile-max: 1023;
  --breakpoint-desktop-min: 1024;
  --breakpoint-desktop-max: 1921;
  --font-family-primary: Montserrat, Arial, sans-serif;
  --font-family-secondary: mBank, Arial, sans-serif;
  --font-family-primary-30: "Open Sans", Arial, sans-serif;
  --font-family-secondary-30: "FS Lola", Arial, sans-serif;
}
